  <!-- Framework JS Files -->
  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="libs/jquery.easing/jquery.easing.min.js"></script>
  <script src="libs/waypoints/jquery.waypoints.min.js"></script>
  <script src="libs/counterup/counterup.min.js"></script>
  <script src="libs/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="libs/venobox/venobox.min.js"></script>
  <script src="libs/owl.carousel/owl.carousel.min.js"></script>
  <script src="libs/typed.js/typed.min.js"></script>
  <script src="libs/aos/aos.js"></script>
  <script type="text/javascript" src="libs/classie/classie.js"></script>
  <script type="text/javascript" src="libs/snap.svg/snap.svg-min.js"></script>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>

  <!-- Main JS File -->
  <script type="text/javascript" src="js/script.js"></script>

  <!-- Twitch embed settings 
  <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
          width: "100%",
          height: "100%",
          channel: "nrg_",
          layout: "video-with-chat",
          autoplay: false
      });
  </script>-->